@import '~antd/dist/antd.css';

html {
    min-height: 100%;
    width: auto;
    font-size: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

#root {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    background: #222;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    z-index: 999;
}

.ant-input-number {
   width: 100%;
}


.match_content {
  margin-left: -15px;
  margin-right: -15px;
}

.content_container {
  width: 100%;
  height: auto;
}

.content {
  max-width: 875px;
  margin:0 auto;
  padding: 15px;
}

.create_match_link {
  padding-top: 15px;
  padding-right: 24px;
  float: right;
}

.link_style {
  color: #1890ff ;
  cursor: pointer;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: 2px solid transparent;
    color: #1890ff;
}

.main_nav_wrapper {
  width: 100vw;
  border-bottom: 2px solid;
  border-bottom-color: lightgray;
}

.main_nav {
  display: flex;
  flex-wrap: nowrap;
  width: 375px;
  height: 62px;
  margin: 0 auto;
  padding: 15px 20px;
}

.nav_item_wrapper {
  width: 115px;
  height: auto;
  padding-top: 5px;
  text-align: center;
}

.nav_item {
  color: black;
  text-decoration: none;
}

.nav_item_btn {
  width: 125px;
  height: auto;
  text-decoration: none;
  text-align: center;
}

.nav_item:hover{
  color: #1890ff !important;
}

.nav_item:focus{
  color: #1890ff !important;
  text-decoration: none;
}

.nav_item:active{
  color: #1890ff !important;
  text-decoration: none;
}

.account_form {
  max-width: 350px;
  padding: 5px;
  margin:0 auto;
  -webkit-align-content: center;
  align-content: center;
}

.form_submit_btn {
  margin:0 auto;
  -webkit-align-content: center;
  align-content: center;
}

.form_link {
  padding-top: 30px;
}

.form_input_number {
  width: 50%;
}

.sign_in_btn {
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}

.round_input .ant-select-selection  {
  border-radius: 0px;
  border: 1px solid black;
}

.round_input .ant-select-selection .ant-select-selection-selected-value {
  float: inherit;
}

.score_cell {
 text-align: center;
 border: 1px solid black;
 height: 32px;
 padding-top: 4px;
}

.score_cell_title {
 text-align: right;
 border: 1px solid black;
 font-weight: 700;
 height: 32px;
 padding: 4px;

}

.scorecard_cell_title {
 text-align: center;
 border: 1px solid black;
 font-weight: 700;
 height: 32px;
 padding-top: 4px;
}
